//**********font
$font-size: 16px;

$font-titles: 'Roboto', Arial, sans-serif;
$font-text: 'Montserrat', sans-serif;

//**********colors
$orange: #F97F29;
$green: #DFF296;
$dark: #19283F;
$light: #F5F5F5;

//**********breakpoints
$mq-xl: 1440px;
$mq-sm: 768px;
$mq-xs: 375px;